html {
	background-color: #f0e8e3;
}

body {
	min-width: 900px;
	font-family: Arial; sans-serif;
	font-size: 14px;
}

#header {
	width: 100%;
	height: 150px;
	background-color: white;
}

nav {
	width:100%;
	background-color: #559e98;
	float: left;
	text-align: center;
}

nav li {
	display: inline-block;
	margin-right: 45px;
	font-size: 20px;
	color: white;
	font-family: sans-serif;
	padding:10px 0px 10px 0px;
	text-align: center;
}

nav li a {
	text-decoration: none;

}

nav li a:active {
	color: white;
}

.currentLink{

	color: white;
}
#body {
	margin-left: 40px;
	margin-right: 40px;
	background-color: white;
<<<<<<< HEAD
	border:solid;
	padding: 20px;
	border-radius: 7px;	
}

#body2 {
	margin-left: 40px;
	margin-right: 40px;
	background-color: white;
	border:solid;
	padding: 0px;
	border-radius: 7px;
	float: left;	
}

#body2 img {
	width: auto;
	height: auto;
	max-width: 700px;
}

#mainContent {
	
}

#mColumn, #mailingList {
	float: left;
}

#mColumn, {
	
}

#mailingList {
	width: 200px;
	margin-top: 20px;
}

#ibackground {
	background-image: url(../images/trash.jpg);
	opacity: .4;
	height: auto;
	width: auto;
}

 br {
 	clear: both;
 }
#impact {
	
}

#impact li {
	list-style-type: disc;
	margin-left: 50px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#impact p {
	margin-left: 30px;
	padding-top: 20px;
	margin-bottom: 10px;
	margin-right: 20px;
	font-size: 17px;
}


#impact a {
	margin-left: 30px;
	font-size: 15px;
	text-decoration: none;
}

/* STYLING BEGINNING about.html styling*/
#aboutContent {
	padding: 60px 30px 60px 30px;
}
#aboutContent p {
	margin-bottom: 20px;
}

#aboutContent ol {
	list-style-type:decimal;
	list-style-position: inside;
	text-indent: 30px;
}

footer {
	margin-left: 40px;
	margin-bottom: 10px;
}

=======
}



/* BEGINNING OF PROJECT CSS */


#howarticle {
	float: left;
	width: 60%;
	padding: 50px;
	background-color: white;
}


#title1, #title2, #title3 {
	font-size: 25px;
	font-weight: bold;
}

.byline {
	font-style: italic;
	padding-bottom: 8px;
}

.articlesum {
	padding-bottom: 40px;
}

.bodyp p {
	padding: 6px 0 6px 0;
}

#howsidebar {
	float: left;
	padding: 6px;
	width: 220px;
	height: 400px;
	background: #559e98;
	border-bottom-right-radius: 30px;
}

#howsidebar ul {
	list-style-type: none;
	margin-left: 5px;
}

#howsidebar ul li{
	padding: 3px 0 3px 0;
}

.howsidebarbox {
	padding: 20px;
}

#howsidebar h3{
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}
>>>>>>> ef8ad9613de1255b9ed7b462b275f87bde7276fe
