html {
	background-color: #f0e8e3;
}

#header {
	width: 100%;
	height: 150px;
	background-color: white;
}

nav {
	width:100%;
	background-color: #559e98;
	float: left;
	text-align: center;
}

nav li {
	display: inline-block;
	margin-right: 45px;
	font-size: 20px;
	color: white;
	font-family: sans-serif;
	padding:10px 0px 10px 0px;
	text-align: center;
}

nav li a {
	text-decoration: none;

}

nav li a:active {
	color: white;
}

.currentLink{

	color: white;
}
#body {
	margin-left: 40px;
	margin-right: 40px;
	background-color: white;
	border:solid;
}

 br {
 	clear: both;
 }

#impact li {
	list-style-type: disc;
	margin-left: 50px;
	margin-bottom: 10px;
	text-align: justify;
	text-transform: uppercase;
	padding: 10px;
}

#impact p {
	margin-left: 50px;
	padding-top: 20px;
	margin-bottom: 10px;
}

#impact p {
	margin-right: 30px;
}

#impact a {
	margin-left: 50px;
	font-size: 15px;
	text-decoration: none;
}