html {
	background-color: #f0e8e3;
}

#header {
	width: 100%;
	height: 150px;
	background-color: white;
}

nav {
	width:100%;
	background-color: #559e98;
	float: left;
	text-align: center;
}

nav li {
	display: inline-block;
	margin-right: 45px;
	font-size: 20px;
	color: white;
	font-family: sans-serif;
	padding:10px 0px 10px 0px;
	text-align: center;
}

nav li a {
	text-decoration: none;

}

nav li a:active {
	color: white;
}

.currentLink {
	color: white;
}

#body {
	margin-left: 40px;
	margin-right: 40px;
	background-color: white;
}

/* STYLING BEGINNING about.html styling*/
#aboutContent {
	width: 100%;
	padding: 20px;
}
#aboutContent p {
	margin-bottom: 20px;
}

#aboutContent ol {
	list-style-type:decimal;
	list-style-position: inside;
	text-indent: 30px;
}

#aCol1 {
	width: 
}
